# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDE configs
.vs
.vscode
## Qt Profiles
*.pro.*
*.creator.user

# Builded library
build/*.o
build/*.obj
build/*.a
build/*.lib
build/*.so
build/*.dll
build/test
build/*.exe
build-*
## CMake trash
build/CMakeFiles
build/cmake_install.cmake
build/CMakeCache.txt
build/Makefile
