@keyframes blinking {
    from {
        text-shadow: 0 0 5px;
    }
    25% {
        opacity: 1;
        text-shadow: 0 0 1px;
    }
    50% {
        opacity: 0;
        text-shadow: 0 0 0;
    }
    75% {
        opacity: 1;
        text-shadow: 0 0 1px;
    }
    to {
        text-shadow: 0 0 5px;
    }
}

@font-face {
    font-family: courier_prime;
    src: url(./src/fnt/courier_prime.ttf) format("truetype");
} 

.blink {animation: blinking 1s infinite;}



:root {
    --bg2: #202020;
    --is-desktop: 1;
    --content-size: 712px;
    --global-bg: radial-gradient(circle, var(--bg2) 25%, transparent 25%, transparent 100%), #0e0e0e;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: var(--global-bg);
    background-size: 8px 8px;
    overflow-x: hidden;
    color: #fff;
}

body {margin: 0;}

header {
    display: block;
    margin: 0;
    width: 100vw;
    height: 500px;
    background: linear-gradient(45deg, var(--bg2) 12.5%, transparent 12.5%, transparent 37.5%, var(--bg2) 37.5%, var(--bg2) 62.5%, transparent 62.5%, transparent 87.5%, var(--bg2) 87.5% ), #0e0e0e;
    background-size: 10px 10px;
}

@keyframes img_resize {
    from {
        padding: 50px;
    }

    to {
        padding: 0;
    }
}

header .binom-ico {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    padding: 0;
    position: relative;
    left: calc(50% - 50px);
    animation: img_resize 1s;
}

header>h1,
header>h2 {
    margin: 0;
    font-size: 4em;
    text-align: center;
    vertical-align: middle;
    color:#2196f3;
}

header>h2 {
    font-size: 2em;
    color: #004481;
}

.download-links {
    position: relative;
    margin-top: 50px;
    margin-left: calc(50vw - (var(--content-size)/2));
    margin-right: calc(50vw - (var(--content-size)/2));
    height: 250px;
    background-color: #0e0e0e;
    background: var(--global-bg);
    background-size: 8px 8px;
    border: 3px solid var(--bg2);
    border-radius: 40px;
    overflow: hidden;
}

.download-links>h1 {
    margin: 0;
    height: 43px;
    text-align: center;
    background-color: var(--bg2);
    color: #2196f3;
}

.download-links>.place-holder {
    position: absolute;
    top: calc(43px + (80px - .5em)*var(--is-desktop));
    width: 100%;
    text-align: center;
    font-size: 4.4em;
    color: var(--bg2);
    font-weight: bolder;
    user-select: none;
}


body>.content {
    box-sizing: border-box;
    width: 100vw;
    min-height: 500px;
    padding-left: calc(50vw - (var(--content-size)/2));
    padding-right: calc(50vw - (var(--content-size)/2));
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: 3px solid var(--bg2);
}

body>.content>section {
    box-sizing: border-box;
    min-height: 80px;
    border-radius: 40px;
    border: 3px solid var(--bg2);
    margin-bottom: 40px;
    background-color: #0e0e0e;
    overflow: hidden;
}

body>.content>section>h1 {
    margin: 0;
    height: 43px;
    text-align: center;
    background-color: var(--bg2);
    color: #2196f3;
}

body>.content>section>h2 {
    background-color: var(--bg2);
    margin: 10px;
    border-radius: 20px;
    text-align: center;
    color: #004481;
}

body>.content>section>video {
    width: 100%;
}

body>.content>section code, body>.content>section code>pre {
    display: inline-block;
    background-color: #222;
    border-radius: 5px;
    margin: 2px;
    transition: background-color .5s;
}

body>.content>section li {
    list-style-type: none;
    background-color: transparent;
    transition: background-color .5s;
}

body>.content>section li:hover {
    list-style-type: none;
    background-color: rgba(64, 64, 64, .125);
    text-shadow: 0 0 2px rgba(255, 255, 255, .375);
}

body>.content>section li:hover code, body>.content>section li:hover code>pre {
    background-color: #222;
}

body>.content>section li::before {
    content: "> ";
    color: #444;
}

body>.content>section li:hover::before {
    color: #88f;
    font-weight: 900;
    text-shadow: 0 0 5px rgba(127, 127, 255, 1),
    0 0 2px rgba(127, 127, 255, 1);
}


footer {
    display: block;
    background-color: #0e0e0e;
    width: 100vw;
    height: 100px;
    border-top: 3px solid var(--bg2);
    text-align: center;
}

footer .binom-ico {
    display: inline-block;
    width: 98.5px;
    height: 98.5px;
    padding: 6px;
    box-sizing: border-box;
    border: none;
    filter: brightness(50%);
}

footer .github-octocat {
    width: 98.5px;
    height: 98.5px;
    padding: 10px;
    box-sizing: border-box;
    margin-left: -101.5px;
    z-index: 1000;
    filter: brightness(1);
}


@media screen and (max-width: 512px) {
    :root {
        --content-size: 100vw;
        --is-desktop: 0;
    }
}
