@import url(./interface.css);
@import url(./content.css);

@font-face {
    font-family: LibelSuit;
    src: url(../fnt/libel-suit-rg.ttf);
}

@font-face {
    font-family: Dosis;
    src: url(../fnt/dosis/Dosis-Medium.ttf);
}

:root {
    --accent-1: #5abdff;
    --accent-2: #eef;
    --text-color: var(--accent-2);
    --theme-color: #1a1a1a;
    --theme-color-2: #353535;

    --theme-color-3: #438d4f;
    --theme-color-3-2: #4db95f;
    --theme-color-3-3: #426e4a;

    --red: #ff4343;
    --blue: #0077ff;
    --yellow: #b3ff00;

    font-size: 1.5em;
}

body {
    background-color: var(--theme-color);
    color: var(--text-color);
    margin: 0;
    margin-top: 50px;
    font-family: Dosis;
    overflow-x: hidden;
}

img {user-select: none;}

::selection {
    background-color: var(--accent-1);
    color: var(--accent-2);
}
